body {
    /* margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 200rem;
     */

    width: 100%;
    height: 100%;
    /* background: url("images/sitebg.jpg") no-repeat center fixed; */
    background: #221e3f;
    background-size: cover;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    padding-top: 1.5rem;
  }

  .fa-linkedin {
    color: #007bb5;
    font-size: 2rem;
    margin: 0rem 1rem;
  }

  .fa-github {
    font-size: 2rem;
    margin: 0rem 1rem;
    color: white;
  }

 

.topRowCard{
    display:flex;
    justify-content: space-evenly;
}

.contact{
  background: #221e3f;
}

/* You-tube video css layout */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
}



a{
  text-decoration: none;
  color:#eee;
}

p{
  font-size: 1.8rem;
  font-weight: 300;
}

img{
  width: 100%;
}

header{
  width: 100%;
  height: 100vh;
}
/* Use later if needed */
/* .about .container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading{
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;

}

.about-heading h1{
  font-size: 10rem;
  opacity: 0.3;
}
.about-heading h6{
  font-size: 2rem;
  font-weight: 300;
}

.profile-img{
  flex: 1;
  margin-right: 5rem; 

}

.about-details{
  flex: 1;
}

.social-media{
  margin-top: 5rem;
}

.social-media{
  font-size: 5rem;
  transition: color 650ms;
}
 */

 .container{
   width: 90%;
   max-width: 120rem;
   height: 100%;
   margin: 0 auto;
   position: relative;
 }


.section-heading{
  text-align: center;
  margin-top: 10rem; 
}

.section-heading h1{
  font-size: 3.5rem;
  color: rgba(225,255,255, .3);
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(225,255,255, .0.75);
}

.section-heading h1::before{
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h1::after{
  width: 1.5rem;
  height: 1.5px;
  border-radius: 100%;
  bottom: -1rem;
}

.section-heading h6{
  font-size: 1.6rem;
  font-weight: 300;
  color:white;
}

form{
  width:70%;
  margin: 0 auto;
}

form label{
  font-size: 1.5rem;
}

input,
select,
textarea{
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
}

input[type="submit"]{
  width: initial;
  background: #fd57bf;
  color: #eee;
  border-radius: .8rem;
  cursor: pointer;
  transition: background-color 650ms;
}
input[type="submit"]{
  color: #221e3f;
  background-color: #ffe838;
}